@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="home-div">
    <h2>Welcome to the music database!</h2>
    <h2>Select the above tabs to go to the albums, artists, and genres.</h2>
</div>
