@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Album Information:";
}
<h2>Read album</h2>
@Model.Title
@Model.Artist.Name
@Model.Genre.Name
@Model.Price
<form action="/Albums/Details" method="get">
    <button>Go back</button>
</form>