@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Delete an Album:";
}

<h2>Delete an Album</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="AlbumID" value="@Model.AlbumID" />
    <div>Title: @Model.Title</div>
    <div>Artist: @Model.Artist</div>

    <button>Delete album</button>


</form>

<form action="Details" method="get">
    <button>Go back</button>
</form>
